.cardContentOne{
    background-color: rgb(136, 197, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cardContentTwo{
    background-color: rgb(136, 197, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}