.cardHeaderINFO{
    background-color: rgb(207, 233, 243);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

.cardContentINFO{
    background-color: rgb(207, 233, 243);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}