<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Volver" color="warning"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-card>
    <ion-card-header class="cardHeaderINFO">
      <img src="assets/logo_mini.png">
    </ion-card-header>
    <ion-card-content class="cardContentINFO">
      RegistrApp es una aplicacion creada con el fin de solucionar problemas en base a las asistencias de las escuelas, de una manera facil para registrar a los estudiantes.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="cardHeaderINFO">
      <ion-card-title style="color: darkblue;">Acerca de la aplicacion</ion-card-title>     
    </ion-card-header>
    <ion-card-content class="cardContentINFO">
      Para registrarse la asistencia de un curso es tan facil como entrar a su cuenta de RegistrApp y seleccionar el curso que desea tomar asistencia, el estudiante entra 
      a su cuenta de RegistrApp de igual manera, y el docente genera un codigo QR que seria proyectado en el data del salon, con el cual es estudiante debe, escanearlo con 
      la aplicacion para registrar su hora y dia.
    </ion-card-content>
  </ion-card>
</ion-content>
